node_modules/
.pnp
.pnp.js
dist/
build/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
prisma/migrations/
logs/
*.log
npm-debug.log*
.DS_Store
._*
.Spotlight-V7
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.vercel
.railway
tmp/
temp/
